<!DOCTYPE html>
<html lang="en">

<head>
  <title>URL crawler</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <main>
    <div class="control">
      <h1>URL crawler</h1>
      <textarea rows="10" autofocus>https://google.com/&#10;https://facebook.com/</textarea>
      <button>Submit</button>
      <div class="served-by">Served by {{ hostname }}</div>
    </div>

    <div class="results">
      <h2>Results</h2>

      <output>

      </output>
    </div>
  </main>

  <script>
    const btn = document.querySelector("button");
    const input = document.querySelector("textarea");
    const output = document.querySelector("output");

    // Returns "true" if the input is a valid URL
    const isUrl = str => {
      try {
        const url = new URL(str);
        return url.protocol === "http:" || url.protocol === "https:";
      } catch {
        return false;
      }
    };

    btn.addEventListener("click", async () => {
      const text = input.value;

      // Get the valid URLs from the textarea
      const body = text.split("\n").filter(isUrl);
      input.value = body.map(u => u.toString()).join("\n") + '\n';

      // Call the titles API
      const res = await fetch("/api/titles", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(body),
      });

      // Show the results in the output box
      const data = await res.json();
      const titles = data.result.map(item => item.title);
      output.value = titles.join("\n");
    });
  </script>
</body>

</html>
